
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto:wght@100&family=Sacramento&display=swap');


* {
  box-sizing: border-box;
  /*font-family: Lobster;*/
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
/*body{
  background-image:linear-gradient(to right, rgba(255, 120, 20, 0.75), rgba(255,120,50,0.5));
}*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#google_translate_element {
  position: absolute;
  right: 10px;
}

/*.overlay {
  position: absolute;
  min-height:100%;
  min-width:100%;
  
  left: 0;
  top: 0;
 
  background: rgba(244, 244, 244, 0.75);
}*/
/*background-color: #C39B77;*/
.navbar {
  min-width: 100%;
  background-color: green;
}

.navbar .logo {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 200px;
  line-height: 100px;
}

.navbar-nav li {
  /* margin: 2px;
  background-color:#662200;*/

  padding: 5px 10px;
}

.navbar-nav li:hover {
  background-color: #b33c00;
}

.navbar-brand img {
  margin-left: 20px;
}

.navbar .navbar-toggler-icon {
  background-color: #a9a9a9;
  color: white;
}

.dropdown .dropdown-menu a {
  background-color: #662200;
  color: #fff;
}

.dropdown .dropdown-menu a:hover {
  background-color: #b33c00;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
/* .loader .inner {
  width: 100%;
  height: 100%;
  background: url("../img/load.gif") center center no-repeat;
} */
.head {
  display: block;
  max-width: 100%;
  height: auto;

  margin-top: 30px;
}
.head .card-body {
  margin-top: 40px;
}
.head h5 {
  font-size: 30px;
}
.carousel {
  margin: 50px;
}
.carousel-inner {
  width: 100%;
  max-height: 600px;
}
.aboutValue {
  margin-top: 30px;
}

.cardRow p {
  background-color: #662200;
  color: #fff;
}

/*hr{
  width:100%;
}*/
.featured {
  width: 25%;
  height: 500px;
  margin-top: 30px;
}
.featured p {
  color: #662200;
  font-size: 1rem;
  text-align: center;
}
.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.panel {
  /*background-image: url("../img/coffee.jpg");*/
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.panel.first {
  background-image: url("./images/coffee.jpg");
}
.panel.second {
  background-image: url("./images/coffee.jpg");
}
.panel.third {
  background-image: url("./images/coffee3.jpg");
}
.panel.forth {
  background-image: url("./images/coffee.jpg");
}
.panel.fifth {
  background-image: url("./images/coffeecover2.jpg");
}
.panel.sixth {
  background-image: url("./images/coffee2.jpg");
}
#accordion {
  background-color: #b33c00;
  width: 66%;
  margin: 0 auto;
  padding: 30px;
}

.panel-title a {
  font-size: 1.5rem;
  color: #fff;
}
#contact label {
  font-size: 1.3rem;
}
.footerBox {
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: #662200;
  color: hsl(120, 0%, 50%);

  width: 100%;
  height: auto;
  margin: 0px;
  padding: 25px 0px;
}
.footerBox a {
  color: hsl(120, 0%, 50%);
  margin: 5px;
}
@media only screen and (max-width: 625px) {
  body {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .navbar .logo {
    display: none;
  }

  /*.carousel {
    margin-top: 20%;
  } */

  .collapse ul li {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .collapse ul a:hover {
    margin: 0px;
    background-color: #b33c00;
    text-align: center;
  }

  .footerBox div {
    min-width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  .cart-cut-item {
    height: 100px;
  }

  .cart-cut-quantity {
    width: 100px;
    margin: 0px;
    padding: 0px;
  }

  .cart-cut-price {
    height: 100px;
    padding: 0px;
  }
}
/*login page*/

.cart-total {
  float: right;
}
.cart-header {
  margin: 0 auto;
}
.btn-purchase {
  margin-left: 50%;
  margin-top: 20px;
}
.container-section {
  margin-left: 150px;
}
hr {
  height: 5px;
  color: rgb(24, 20, 20);
}
.cart-cut-quantity {
  margin-top: 40px;
  padding: 5px;
}
.cart-quantity input {
  margin: 5px;
  width: 60px;
}
.cart-cut-price {
  margin-top: 46px;
}



/* Sign in component */

.sign-in h1{
  font-size: 18px;
font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.sign-in h3{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
 
}
.sign-in{
  width:450px;
  height:auto;
  border: 1px solid gray;
  margin: 50px auto;
  border-radius: 5%;
 padding: 10px;
  background-color: rgb(252,252,252);

}

.sign-in h1, h2{
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
}

.formLabel{
 width:27%;
font-weight: 500;

 text-align: left;
 margin-top:15px;
  
}
.formInput{
  width:100%;
 margin-left:7px;
 margin-top: 10px;
padding:13px;
 border: 1px solid #ccc;
 border-radius: 7px;
font-size: 15px;
 box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.2);
 /* box-shadow: 5px 6px 10px 10px rgb(207,207,207); */
 text-align:center;


}
.form-group{

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  width: 350px;
  margin: 30px 5px 0px 30px ;
 
 
}

.submit-button{
  font-size: large;
  width:80%;
  text-align: center;
  border: 1px solid gray;
  border-radius:5px;
  transition: 0.5s ease;

  margin:40px 0px 10px 0px;
  background-color:#0275d8;
 
  color:#fff;
  cursor: pointer;

}
.submit-button:hover{
  background-color: #888888;
}
.signup-link{

text-decoration: none;

cursor: pointer;
color: #4169e1 ;

}
p{
  font-size: 20px;
}
.forgot-password{
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  color:#000;
}

/* sign up component */


.sign-up{
  width:450px;
     height:auto;
     border: 1px solid gray;
     margin: 50px auto;
     border-radius: 5%;
     background-color: rgb(252,252,252);
     /* background-image:linear-gradient(to right, orange,yellow,orange); */
    
  
    
 }
 .sign-up h1{
     font-size: 18px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-style: normal;
 }
 .sign-up h3{
     font-size: 15px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-style: normal;
 }
 
 .formLabel{
    width:22%;
   font-weight: 200;
   
    text-align: left;
     
 }
 .formInput{
     width:50%;
    margin-left:30px;
    padding:8px;
    border-radius: 3px;
   
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
    box-shadow: 11px 12px 13px 12px rgb(207,207,207);
    text-align: left;
   
 }
 .form-group{
   
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: left;
     width: 400px;
     margin: 30px auto;
     padding:5px;
    
 }
 .submit-button{
     font-size: 24px;
     width:400px;
     height:50px;
     text-align: center;
     border: 1px solid gray;
     border-radius:5px;
    
    
     margin:40px 0px 10px 0px;
     background-color:#0275d8;
     color:#fff;
     cursor: pointer;
 
 }
 .submit-button:hover{
    
     background-color: #888888;
     transition: 0.5s ease;
 }
 .signin-link{
 text-decoration: none;
 
 color: #4169e1 ;
 cursor: pointer;
 }
 
 
 .message{
     color:red;
     font-size: 15px;
     font-weight:600;
    margin-left:10px;
 
 }
 
 #skills{
    
 }
 .form{
    
 }
 .formLabel-select{
   
 }
 
 .select-box{
 
 }


 .row{
  display:flex;
  justify-content: space-between;
  
}
.col-1{
  flex:1;
}
.col-2{
  flex:2;
}
.block{
  background-color: #e0e0e0;
  padding:1rem;
  margin:0.5rem;
  border-radius: 0.5rem;
}
.row.center{
  align-items:center;
}
img.small{
  max-height:8rem;
  
}
button.checkout{
  font-size: 0.8rem;
  padding:0.2rem;
  margin:0.1rem;
  border:0.1rem #404040 solid;
  background-color: #f0c040;
  width:100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
/*item details*/

.item-details{
  width: 50%;
  height:500px;
  display:flex;
  flex-direction: column;
  margin: 50px auto;
}

.cart-row{
  width:50%;
 
}