* {
  box-sizing: border-box;
  /*font-family: Lobster;*/
  font-size:1rem;
  font-family: 'Raleway', sans-serif;
}
/*body{
  background-image:linear-gradient(to right, rgba(255, 120, 20, 0.75), rgba(255,120,50,0.5));
}*/
  
html, body {
  width:100%;
  height:100%;
  margin: 0;
  padding:0;
 }

#google_translate_element{
  position: absolute;
  right:10px;
}

/*.overlay {
  position: absolute;
  min-height:100%;
  min-width:100%;
  
  left: 0;
  top: 0;
 
  background: rgba(244, 244, 244, 0.75);
}*/
/*background-color: #C39B77;*/
.navbar {
 
  min-width:100%;
  background-color: green;
 
}

.navbar .logo{
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 200px;
  line-height:100px;
 

}

 
.navbar-nav li {
 
  
 /* margin: 2px;
  background-color:#662200;*/


  padding: 5px 10px;
}

.navbar-nav li:hover{
  background-color:#b33c00;
}

.navbar-brand img {
  
  margin-left: 20px;
}

.navbar .navbar-toggler-icon{
  background-color: #A9A9A9;
  color:white;
}



.dropdown  .dropdown-menu a {
  background-color:#662200;
  color:#fff;
  
  }

.dropdown .dropdown-menu a:hover {
  background-color:#b33c00;
}


.loader{
  width:100%;
  height:100%;
  background-color: #fff;
  position: fixed;
  top:0px;
  left:0px;
  z-index:1000;
}
.loader .inner{
  width:100%;
  height:100%;
  background:url("../img/load.gif") center center no-repeat;
}
.head {
  display: block;
  max-width: 100%;
  height: auto;
  
  margin-top: 30px;
 
}
.head .card-body{
  margin-top:40px;
}
.head h5 {
  font-size: 30px;
}
.carousel {
  margin: 50px;

 
}
.carousel-inner {
  width: 100%;
  max-height: 600px;
}
.aboutValue{

margin-top:30px;
}
 
.cardRow p{
  background-color:#662200;
  color:#fff;
 
}


/*hr{
  width:100%;
}*/
.featured{
  width: 25%;
  height:500px;
  margin-top: 30px;
 
}
.featured p{
 color:#662200;
 font-size: 1rem;
 text-align: center;
}
.blink{
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.panel {
  /*background-image: url("../img/coffee.jpg");*/
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.panel.first {
  
  background-image: url('../img/coffee.jpg');
}
.panel.second {
  background-image: url('../img/coffee3.jpg');
}
.panel.third {
  background-image: url('../img/coffee3.jpg');
}
.panel.forth {
  background-image: url('../img/coffee.jpg');
}
.panel.fifth {
  background-image: url('../img/coffeecover2.jpg');
}
.panel.sixth {
  background-image: url('../img/coffee2.jpg');
}
#accordion{
  background-color:#b33c00;
  width:66%;
  margin:0 auto;
  padding:30px;
}

.panel-title a{
  font-size:1.5rem;
  color:#fff;
}
#contact label{
  font-size:1.3rem;
}
.footerBox {
  position: absolute;
 left:0px;
 right:0px;
  background-color:#662200;
  color:hsl(120,0%,50%);
 
  width:100%;
  height:auto;
  margin:0px;
 padding: 25px 0px;
}
.footerBox a {
  color:hsl(120,0%,50%);
  margin:5px;
 
  

}
@media only screen and (max-width: 625px) {
  body {
  margin:0 auto;
    max-width:100%;
    height:auto;
  }

  .navbar .logo{
    display:none;
  
  }
  
   
  /*.carousel {
    margin-top: 20%;
  } */
  

   
   
  .collapse ul li{
    margin:0px;
    padding:0px;
    text-align: center;

  } 
  .collapse ul a:hover{
    margin:0px;
    background-color: #b33c00;;
    text-align: center;
  }
  
  
  .footerBox div{
    min-width:100%;
    margin:0 auto;
    padding:5px;


  }
.cart-cut-item {
height :100px;

}

  
  .cart-cut-quantity {
    width: 100px;
    margin:0px;
    padding: 0px;
   
  }
  
  .cart-cut-price {
    
    height:100px;
    padding:0px;
   
  }
  
}
/*login page*/

.cart-total{
  float:right;
}
.cart-header{
  margin:0 auto;
}
.btn-purchase{
margin-left:50%;
margin-top:20px;
}
.container-section{
  margin-left:150px;
}
hr{
 
  height:5px;
  color:rgb(24, 20, 20);
 
}
.cart-cut-quantity {
  margin-top:40px;
  padding:5px;
}
.cart-quantity input{
 margin:5px;
  width: 60px;
}
.cart-cut-price {
  margin-top:46px;
}